FROM {{ docker_image }} as builder
RUN pip install --upgrade tox bindep
WORKDIR /app
ADD tox.ini setup.py requirements*.txt bindep*.txt /app/
ADD .git /app/.git
RUN apt-get install $(bindep -b test)
RUN tox --notest

FROM {{ docker_image }} as tox
RUN pip install  --upgrade tox
WORKDIR /app
COPY --from=builder /app/.tox /app/.tox
ADD . /app/
ENTRYPOINT ["tox"]
